@import url(https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i,900);

* {
    font-size: 16px;
    font-family: Raleway;
    margin: 0;
}

.select {
    width: 300px
}

input:not([type="radio"]) {
    width: 300px;
    border-radius: 4px;
}

.sign-up-title {
    margin: 1rem auto 2rem auto;
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 1.2rem;

}

.form {
    display: grid;
    grid-template-rows: 10;
    justify-content: center;
    grid-row-gap: 1.1rem;

}

.answer {
    display: flex;
    justify-content: stretch;
}

img {
    height: 30px
}