/*** FONTS ***/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i,900);

/*** VARIABLES ***/
/* Colors */
/*** EXTEND ***/
/* box-shadow */
ol.gradient-list>li,
ol.gradient-list>li::before {
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

/*** STYLE ***/
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    color: #1d1f20;
    font-family: 'Raleway', sans-serif;
    overflow: auto;
}

.list {
    display: block;
    margin: 0 auto;
    max-width: 60rem;
    max-height: 100vh;
    padding: 1rem;
    overflow-y: scroll;

}

ol.gradient-list {
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
}

ol.gradient-list>li {
    background: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
    min-width: 50vw;
}

.main {
    display: grid;
    grid-template-columns: 48.5vw 48.5vw 5vw;
    grid-column-gap: 2rem;

}

.grid {
    display: grid;
    grid-template-rows: 60vh 40vh;
}

.info {
    background: white;
    border-radius: 0.5rem;
    margin: 3rem;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
    display: grid;
    grid-template-rows: 20% 80%;
    overflow: auto;

}

.top-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.bottom-info {
    display: grid;
    grid-template-columns: 60% 40%;
}

.not-photo {
    display: grid;
    grid-template-rows: repeat(5, 20%);
    justify-content: space-evenly;
}

.heading {
    font-weight: 900;
    display: inline;
}

.chat {
    background: white;
    border-radius: 0.5rem;
    margin: 0rem 3rem 0 3rem;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
    display: grid;
    grid-template-rows: 10% 90%;
    overflow: auto;
    padding: 0.5rem;
}

.chat-box {
    background: #F5F5F5;
    display: flex;
    flex-direction: column-reverse;

}

.msg-wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

input,
button {
    width: 100%;
    height: 30px;
}

.chat-fixed {
    display: grid;
    grid-template-columns: 90% 10%;
}

.msg-my {
    display: inline;
    text-align: right;
    margin: 1rem 0;

}

.msg-his {
    margin: 1rem 0;
}

.my {
    padding: 0.3rem 1rem;
    background-color: #008081;
    border-radius: 10px 0 0 10px;
    color: white;
}

.his {
    padding: 0.3rem 1rem;
    background-color: #81d8d0;
    border-radius: 0px 10px 10px 0px;
    color: white;
}

.people {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 2rem;
    ;
}

.dp {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.list-item {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.list-wrapper {
    display: grid;
    grid-template-rows: 50% 50%;
}

a.no-link {
    text-decoration: none;
    color: black;
}

.my-dp {
    max-width: 10rem;
    max-height: 14rem;
}

.photo {
    margin: auto;
}